
.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #EEEDEB;
  margin: 0px;
  padding: 0px;
}

button {
  background-color: #EEEDEB;
  border-radius: 3px;
  border-width: 1.5px;
  border-color: #3C3633;
  padding: 5px 10px;
}

button:hover {
  background-color: #fcf7ee;
}