.blog-view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.blog-info-wrapper {
  border: solid;
  border-radius: 7px;
  border-width: 2px;
  border-color: #747264;
  padding: 20px 50px;
  margin-bottom: 20px;
  width: 100%;
  justify-content: center;
}

.blog-item {
  display: flex;
  flex-direction: column;
  padding: 4px 10px;
  align-items: center;
}